<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Welcome To Do List System</h1>
    </div>
    <div class="row ml-md-auto">
        <a href="/create" role="button">Create Your To Do List</a> <br>
        <a href="/search" role="button">Find Your Event By ID</a> <br>
	<a href="/update" role="button">update Your Event By ID</a> <br>
        <a href="/delete" role="button">Delete Your Event By ID</a> <br>
        <a href="/logout" role="button">Logout</a>
    </div>

</body>
</html>
