<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login system</title>
    
</head>
<body>
    <div class="container">
        <h1>Login to To Do List System</h1>
        <form action="/login" method="post">
            <label for='username'><b>Username:</b></label><br>
            <input type="text" id="username" name="username" placeholder=""><br><br>
            <label for='password'><b>Password:</b></label><br>
            <input type="password" id="password" name="password" placeholder=""><br><br>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
